<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gameon.mycash_carteiradigital_EN">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name="com.gameon.mycash_carteiradigital_EN.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.gameon.mycash_carteiradigital_EN.activity.SobreActivity"
            android:parentActivityName="com.gameon.mycash_carteiradigital_EN.activity.HomeActivity" />
        <activity
            android:name="com.gameon.mycash_carteiradigital_EN.activity.GraficoActivity"
            android:parentActivityName="com.gameon.mycash_carteiradigital_EN.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.gameon.mycash_carteiradigital_EN.activity.GraficoDespesasActivity"
            android:parentActivityName="com.gameon.mycash_carteiradigital_EN.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.gameon.mycash_carteiradigital_EN.activity.ListagemGanhosActivity"
            android:parentActivityName="com.gameon.mycash_carteiradigital_EN.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.gameon.mycash_carteiradigital_EN.activity.ListagemDespesasActivity"
            android:parentActivityName="com.gameon.mycash_carteiradigital_EN.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.gameon.mycash_carteiradigital_EN.activity.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gameon.mycash_carteiradigital_EN.activity.CadastroDespesasActivity"
            android:parentActivityName="com.gameon.mycash_carteiradigital_EN.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.gameon.mycash_carteiradigital_EN.activity.CadastroGanhosActivity"
            android:parentActivityName="com.gameon.mycash_carteiradigital_EN.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>